#box{
    width: 50px;
    height: 100px;
    background-color: red;
}
#box-2{
    width: 50px;
    height: 100px;
    background-color: blue;
}
#nest{
    width: 20px;
    height: 20px;
    background-color: green;
}